.footnote {
  border: 1px solid $muted-text-color;
  border-radius: 1em;
  color: $text-color;
  display: inline;
  font-size: .6em;
  font-weight: 700;
  padding: 0 .3em;
  text-decoration: none;
  vertical-align: super;
  margin: 0 .25em;
  &:hover,
  &:focus {
    background: $brand-color;
    border-color: $brand-color;
  }
}

.footnotes::before {
  content: '';
  @include divider;
  margin: 4em auto;
}

.footnotes {
  margin-bottom: 4em;

  ol {
    margin-left: 0;
    margin-right: 0;
  }

  li {
    margin-bottom: 1em;
    font-size: .75em;
  }
}

.reversefootnote {
  font-size: .75em;
  opacity: .75;
}